<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="{{ current_user.gravatar_url }}" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>Olá, {{ current_user.name }}</p>
        <a href="#">
          <i class="fa fa-circle text-success"></i>
          Online
        </a>
      </div>
    </div>
    <!-- search form -->
    <form method="get" class="sidebar-form ng-pristine ng-valid" action="#">
      <div class="input-group">
        <input type="text" placeholder="Search..." name="q" class="form-control">
        <span class="input-group-btn">
          <button type="submit" name="seach" id="search-btn" class="btn btn-flat">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" ui-view="sidebarmenu">
      <li class="header">CALENDAR NAVIGATION</li>

      <div id="calendar_datepicker" data-ng-datepicker data-ng-options="datepickerOptions" data-ng-model="date">
      </div>

      <li class="treeview" data-ng-treeview data-ng-model="tv_professionals">
        <a href>
          <i class="fa fa-circle-o"></i>
          Profissionais
          <i class="fa fa-angle-left pull-right"></i>
          <small class="label pull-right bg-green">{{ active_calendars_count }}</small>
        </a>
        <ul class="nav treeview-menu">
          <li ng-repeat="calendar in calendars">
            <a href class="professional">
              <i class="glyphicon glyphicon-user"></i>
              {{ calendar.user.name }}
              <small class="label pull-right bg-yellow">&nbsp;&nbsp;&nbsp;</small>
            </a>
          </li>
        </ul>
      </li>

      <ul>
    </ul>
  </section>
</aside>


<ui-view />