- if @accounts.any?

  %p.login-box-msg Selecione uma conta

  - @accounts.each do |account|
    %a.btn.btn-block.btn-success.btn-sm{href: select_account_homepage_path(account)}
      = account.name
      %span.glyphicon.glyphicon-lock.form-control-feedback

- else

  / small box
  .small-box.bg-aqua
    .inner
      %h3 Nenhuma conta
      %p disponível para o usuário logado (#{current_user.email})
    .icon
      %i.ion.ion-person-add
    %a.small-box-footer{:href => "#"}
      Ver planos disponíveis
      %i.fa.fa-arrow-circle-right
