<div class="col-md-12">
  <div class="box box-danger">
    <div class="box-header">
      <h3 class="box-title">
        Adicionar Conta
      </h3>
    </div>
    <div class="box-body">
      <form id="new_account" class="simple_form new_account" ng-submit="newAccount(account)" novalidate>
        <div class="col-md-6">

          <div class="form-group string optional account_name">
            <label for="account_name" class="string optional control-label">Nome</label>
            <input type="text" class="string optional form-control" ng-model="account.name">
          </div>

          <div class="form-group string optional account_description"><label for="account_description" class="string optional control-label">Description</label><input type="text" id="account_description" name="account[description]" class="string optional form-control"></div>
          <div class="form-group string optional account_address"><label for="account_address" class="string optional control-label">Address</label><input type="text" id="account_address" name="account[address]" class="string optional form-control"></div>
          <div class="form-group tel optional account_phone"><label for="account_phone" class="tel optional control-label">Phone</label><input type="tel" id="account_phone" name="account[phone]" class="string tel optional form-control"></div>
          <div class="form-group tel optional account_phone2"><label for="account_phone2" class="tel optional control-label">Phone2</label><input type="tel" id="account_phone2" name="account[phone2]" class="string tel optional form-control"></div>
          <div class="form-group string optional account_website"><label for="account_website" class="string optional control-label">Website</label><input type="text" id="account_website" name="account[website]" class="string optional form-control"></div>
          <div class="form-group string optional account_plan"><label for="account_plan" class="string optional control-label">Plan</label><input type="text" id="account_plan" name="account[plan]" class="string optional form-control"></div>
        </div>
        <div class="col-md-6">
          Usuários desta conta
          <div class="form-group check_boxes optional account_users"><label class="check_boxes optional control-label">Users</label><span class="checkbox"><label for="account_user_ids_5505a29e676b7554a7010000"><input type="checkbox" id="account_user_ids_5505a29e676b7554a7010000" name="account[user_ids][]" value="5505a29e676b7554a7010000" class="check_boxes optional">Guilherme</label></span><span class="checkbox"><label for="account_user_ids_5516374b676b75233a000000"><input type="checkbox" id="account_user_ids_5516374b676b75233a000000" name="account[user_ids][]" value="5516374b676b75233a000000" class="check_boxes optional">Joaquim</label></span><input type="hidden" value="" name="account[user_ids][]"></div>
          <ul>
          </ul>
        </div>
        <div class="clearfix"></div>
        <div class="box-footer">
          <input type="submit" class="btn btn-success btn btn-success" value="Enviar" name="commit">
        </div>
      </form>
    </div>
  </div>
</div>