<div class="col-md-12">

  <div class="box box-danger">
    <div class="box-header">
      <h3 class="box-title">
         {{ account.name }}
      </h3>
    </div>
    <div class="box-body">
      <p id="notice"></p>
      <p><b>Description:</b> {{ account.description }} </p>
      <p><b>Address:</b> {{ account.address }} </p>
      <p><b>Phone:</b> {{ account.phone }} </p>
      <p><b>Phone2:</b> {{ account.phone2 }} </p>
      <p><b>Website:</b> {{ account.website }} </p>
      <p><b>Plan:</b> {{ account.plan }} </p>

    </div>

  <div class="box-footer">
    <div class="row">
      <div class="col-md-2">
        <a class="btn btn-default" href ui-sref="app.header.admin-sidebar.home.accounts"><i class="glyphicon glyphicon-chevron-left"></i> Voltar</a>
      </div>
      <div class="col-md-10" style="text-align: right;">
        <a class="btn btn-warning" href ui-sref="app.header.admin-sidebar.home.accounts.edit(account)"><i class="fa fa-pencil"></i> Editar</a>
      </div>
    </div>
  </div>

</div>
