
  <div style="min-height: 1200px;" class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1 class="ng-binding">

        <small class="ng-binding">

        </small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-hand-o-right"></i> Home</a></li>
        <li class="active">{{ breadcrumb }}</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">

      <!-- Info boxes -->
      <div ui-view>


        <div class="callout callout-warning">
          <h4>Bem vindo(a) {{ current_user.name }}!!</h4>
          <p>Use o menu superior para navegar na sua agenda.</p>
        </div>

      </div>
    </section>
  </div>
