%p.login-box-msg Esqueceu sua senha?
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  = devise_error_messages!
  .form-group.has-feedback
    = f.email_field :email, autofocus: true, placeholder: "Email", class: 'form-control'
    %span.glyphicon.glyphicon-envelope.form-control-feedback
  .row
    .col-xs-6
    .col-xs-6
      %button.btn.btn-primary.btn-block.btn-flat{:type => "submit"} Enviar instruções
    / /.col
/ .social-auth-links.text-center
/   %a.btn.btn-block.btn-social.btn-facebook.btn-flat{:href => "#"}
/     %i.fa.fa-facebook
/     Logar com o Facebook
/   %a.btn.btn-block.btn-social.btn-google-plus.btn-flat{:href => "#"}
/     %i.fa.fa-google-plus
/     Sign in using Google+
/ /.social-auth-links
= render "devise/shared/links"