<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" ui-view="sidebarmenu">
      <li class="header">CALENDAR NAVIGATION</li>

      <div id="calendar_datepicker" data-ng-datepicker data-ng-options="datepickerOptions" data-ng-model="date">
      </div>

      <li class="treeview" data-ng-treeview data-ng-model="tv_professionals">
        <a href>
          <i class="fa fa-circle-o"></i>
          Profissionais
          <i class="fa fa-angle-left pull-right"></i>
          <small class="label pull-right bg-green">{{ active_calendars_count }}</small>
        </a>
        <ul class="nav treeview-menu">
          <li ng-repeat="calendar in calendars">
            <a href class="professional">
              <i class="glyphicon glyphicon-user"></i>
              {{ calendar.user.name }}
              <small class="label pull-right" style="background-color: {{ calendar.user.task_color }}">&nbsp;&nbsp;&nbsp;</small>
            </a>
          </li>
        </ul>
      </li>

      <li class="treeview" data-ng-treeview data-ng-model="tv_specialties">
        <a href>
          <i class="fa fa-circle-o"></i>
          Serviços
          <i class="fa fa-angle-left pull-right"></i>
          <small class="label pull-right bg-green">{{ active_specialties_count }}</small>
        </a>
        <ul class="nav treeview-menu">
          <li ng-repeat="specialty in specialties">
            <a href class="specialty">
              <i class="fa fa-tag"></i>
              {{ specialty.description }}
            </a>
          </li>
        </ul>
      </li>


      <ul>
    </ul>
  </section>
</aside>


<ui-view />