<div class="col-md-12">
  <div class="box box-danger">
    <div class="box-header">
      <h3 class="box-title">
        Editar especialidade "{{ specialty.description }}"
      </h3>
    </div>
    <div class="box-body">
      <form name="form" class="simple_form new_specialty" ng-submit="saveUser(specialty)" novalidate>
        <div class="col-md-6">

          <div class="form-group string optional specialty_description" ng-class="{'has-error' : form.description.$error.server}">
            <label for="specialty_description" class="string optional control-label">Descrição</label>
            <input type="text" class="string optional form-control" ng-model="specialty.description" name="description" server-error>
            <p class="help-block" ng-show="form.description.$error.server">{{ errors.description }}</p>
          </div>


          <div class="form-group optional specialty_active"  ng-class="{'has-error' : form.active.$error.server}">
            <div class="checkbox">
              <label class="string optional control-label">
                <input type="checkbox" ng-model="specialty.active" name="active" server-error> Ativa?
              </label>
            </div>
            <p class="help-block" ng-show="form.active.$error.server">{{ errors.active }}</p>
          </div>


        </div>
        <div class="clearfix"></div>
        <div class="box-footer">
          <div class="row">
            <div class="col-md-2">
              <a class="btn btn-default" href ui-sref="^"><i class="glyphicon glyphicon-chevron-left"></i> Voltar</a>
            </div>
            <div class="col-md-10" style="text-align: right;">
              <button type="submit" class="btn btn-success" name="commit" ladda="laddaLoading"><i class="glyphicon glyphicon-ok"></i> Enviar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>