= simple_form_for(@<%= singular_table_name %>) do |f|

  <%- attributes.each do |attribute| -%>
    = f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %>
  <%- end -%>

  .box-footer
    = cancel_buttom(admin_<%= plural_table_name %>_path)
    = f.button :submit, "Salvar"

