
/* MENU */

.main-sidebar {
  overflow: hidden;
}

.sidebar-menu .treeview-menu > li > span {
  display: block;
  font-size: 14px;
  padding: 5px 5px 5px 15px;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent;
}

.content-wrapper {
  overflow-y: auto;
}