
@import "bootstrap";
@import "bootstrap-sprockets";
@import "adminlte/css/AdminLTE.min";
@import "adminlte/css/skins/_all-skins.min";

@import "iCheck/all";
@import "fullcalendar/fullcalendar";
@import "datepicker/datepicker3";
@import "daterangepicker/daterangepicker-bs3";
@import "bootstrap-wysihtml5/bootstrap3-wysihtml5.min";
@import "ladda/dist/ladda-themeless.min";

@import "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";
@import "//code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css";

@import "adminlte.overrides";
@import "datepicker.custom";


html, body { height: 100%; }

.loader {
  background: #CCC;
  height: 100%;
  opacity: .75;
  position: absolute; top: 0; left: 0;
  width: 100%;
  z-index: 999;
}
#loading {
  list-style: none;
  margin: 250px auto;
  text-align: center;
  width: 400px;
}

@keyframes loader{
  50% { height: 6px; margin-top: 74px; opacity: .1; }
}
.bar {
  height: 80px;
  width: 6px;
  border-radius: 3px;
  background: #333;
  display :inline-block;
  margin: 0 2px;
  animation: loader 1.3s infinite;
}
.bar:nth-child(1) { animation-delay: .1s; }
.bar:nth-child(2) { animation-delay: .2s; }
.bar:nth-child(3) { animation-delay: .3s; }
.bar:nth-child(4) { animation-delay: .4s; }
.bar:nth-child(5) { animation-delay: .5s; }
.bar:nth-child(6) { animation-delay: .6s; }
.bar:nth-child(7) { animation-delay: .7s; }
.bar:nth-child(8) { animation-delay: .8s; }
.bar:nth-child(9) { animation-delay: .9s; }
.bar:nth-child(10) { animation-delay: 1s; }


table.table-ellipsis > tbody > tr > td {
  max-width: 40%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/** TRUNCATE **/
.css-truncate {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: top;
}

/* MODAL CENTERING CSS */
/* scroll fixes */
.modal-open .modal {
  padding-left: 0px !important;
  padding-right: 0px !important;
  overflow-y: scroll;
}


/* CONTENT CALENDAR */

.content.content-calendar {
  padding:0;
}