%p
  Olá #{@resource.email}!
%p Alguém solicitou instruções para recuperação de senha da sua conta.
%p= link_to 'Alterar Senha', edit_user_password_path(@resource, reset_password_token: @token)
%p Caso não tenha sido você quem fez esta solicitação, por favor ignore este e-mail.
%p A sua senha não irá ser alterada até que você acesse o link acima o insira uma nova.
