!!!
%html{"ng-app"=>"agenda"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/

    %title
      {{ window_title }}

    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'

    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      = javascript_include_tag "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js", "https://oss.maxcdn.com/respond/1.4.2/respond.min.js"

    = csrf_meta_tags

  %body.skin-purple{"ng-class"=>"{ 'login-page' : login }"}

    %div{"ui-view" => "header"}
    %div{"ui-view" => "wrapper"}

    .loader.no-print{'ng-show'=>"loadingView"}
      %ul#loading
        %li.bar{'ng-repeat'=>"i in [0,1,2,3,4,5,6,7,8,9]"}
