!!!
%html{"ng-app"=>"agenda"}
  = render "head"
  %body.skin-purple{"ng-class"=>"{ 'login-page' : login }"}
    %div{"ui-view" => "header"}
    %div{"ui-view" => "wrapper"}

    .loader.no-print{'ng-show'=>"loadingView"}
      %ul#loading
        %li.bar{'ng-repeat'=>"i in [0,1,2,3,4,5,6,7,8,9]"}
